<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javademo.shiro.springboot.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.javademo.shiro.springboot.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="INTEGER"/>
        <result column="rid" property="rid" jdbcType="BIGINT"/>
    </resultMap>

    <select id="getUserByName" resultType="com.javademo.shiro.springboot.entity.User">
        select * from user where name =#{name}
    </select>
    <select id="getRoleNamesByUserName" resultType="string">
        SELECT `name`
        FROM role
        WHERE id IN
              (SELECT rid
               FROM role_user
               WHERE uid = (SELECT id
                            FROM `user`
                            WHERE NAME = #{name}))
    </select>
    <select id="getPermissionsByRoleNames" resultType="string">
        SELECT `info`
        FROM permission
        WHERE id IN
        (SELECT pid
        FROM permission_role
        WHERE rid IN (SELECT id
        FROM `role`
        WHERE NAME IN
        <foreach item="item" index="index" collection="roleNames" open="(" separator="," close=")">
            #{item}
        </foreach>
        ))
    </select>
</mapper>